<section class="header">
  <div class="container header-container">
    <a class="header-logo" href=""
      ><svg class="logo" width="168" height="16">
        <use href="/img/symbol-defs.svg#icon-logo-mob"></use></svg
    ></a>
    <nav class="page-nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#how-it-works" class="nav-button">How It Works</a>
        </li>
        <li class="nav-list-item">
          <a href="#vegetables" class="nav-button">Vegetables</a>
        </li>
        <li class="nav-list-item">
          <a href="#reviews" class="nav-button">Reviews</a>
        </li>
        <li class="nav-list-item">
          <a href="#your-order" class="order-button">Shop now</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="burger" data-menu-open>
      <svg class="burger-icon" width="32" height="32">
        <use href="/img/symbol-defs.svg#icon-burgermob"></use>
      </svg>
    </button>
  </div>
</section>
<div class="mobile-menu-overlay is-open" data-menu>
  <div class="mobile-menu is-open">
    <div class="container mobile-menu-container">
      <button class="btn-menu-close" type="button" data-menu-close>
        <svg class="btn-menu-close-icon" width="16" height="16">
          <use href="/img/symbol-defs.svg#icon-close-icon"></use>
        </svg>
      </button>

      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-item">
            <a href="#how-it-works" class="mobile-menu-nav-link current"
              >How It Works</a
            >
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#vegetables" class="mobile-menu-nav-link">Vegetables</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#reviews" class="mobile-menu-nav-link">Reviews</a>
          </li>
        </ul>
      </nav>

      <button class="mobile-menu-btn-shop" type="button">Shop now</button>
    </div>
  </div>
</div>
