<div class="mobile-menu" data-menu>
    <div class="container mobile-menu-container">
        <button type="button" class="mobile-menu-close" data-menu-close>
            <svg class=" close-iccon" width="40" height="40">
                <use href="../img/symbol-defs.svg#icon-close-icon"></use>
            </svg>
        </button>
        <nav class="nav-mobile">
            <ul class="nav-mobile-menu">
                <li class="nav-mobile-list"><a class="nav-mobile-link" href="#how-it-works">How it Works</a>
                </li>
                <li class="nav-mobile-list"><a class="nav-mobile-links" href="#vegetables">Vegetables</a>
                </li>
                <li class="nav-mobile-list"><a class="nav-mobile-links" href="#reviews">Reviews</a>
                </li>
            </ul>
        </nav>
        <div class="mobile-button">
            <button type="submit" class="mobile-menu-button">SHOP NOW</button>
        </div>
    </div>
</div>