.promo {
  background: #fbfbfb;
  padding: 100px;
}

.seo-heading {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.promo-text-fill {
  color: #fbfbfb;
}

.background-container-promo {
  position: relative;
}

.background-promo-text {
  position: absolute;
  background-color: #576f35;
  height: 100px;
  width: 350px;
  border-radius: 12px;
  left: -10px;
  flex-shrink: 5;
}

.promo-text {
  color: #141414;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  max-width: 330px;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .promo {
    padding: 100px;
  }

  .promo-text {
    padding: 0 16px;
    font-size: 64px;
    line-height: 1.08;
    max-width: 704px;
  }

  .background-promo-text {
    height: 86px;
    width: 710px;
    top: -10px;
    left: -8px;
  }
}

@media (max-width: 768px) {
  .promo {
    padding: 100px 32px; /* 100px зверху і знизу, 50px зліва і справа для адаптації */
  }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .promo {
    padding: 100px 32px;
  }

  .background-promo-text {
    width: 90%;
    height: auto;
    min-height: 80px;
    left: 50%;
    transform: translateX(-50%);
  }

  .promo-text {
    font-size: 56px;
    line-height: 1.2;
    max-width: 90%;
    text-align: left;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .promo {
    padding: 100px 32px;
  }

  .background-promo-text {
    height: 85px;
    width: 808px;
    top: -5px;
    left: 2px;
  }

  .promo-text {
    font-size: 76px;
    line-height: 1.05;
    max-width: 1070px;
  }
}

@media screen and (max-width: 400px) {
  .promo {
    padding: 100px 20px 20px; /* На маленьких екранах трохи менші бокові відступи */
  }

  .background-promo-text {
    width: 95%;
  }
}
