.container {
    padding: 40px 20px;
}

.footer-first-part {
    margin-bottom: 40px;
} 

.footer-logo {
    margin-bottom: 14px;
    fill: #fbfbfb;
}

.footer-motto {
    max-width: 280px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    color: #fbfbfb;
}

.footer-second-part {
    margin-bottom: 80px;
}

.footer-nav-list {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-nav-link {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
}

.footer-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-contacts-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    color: #fbfbfb;
}

.footer-privacy {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    color: #d4bfc4;
}

.footer-privacy:nth-last-child(2) {
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
.container {
    max-width: 100%;
    padding: 32px;
    margin: 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-first-part {
    margin-bottom: 0;
}

.footer-logo {
    margin-bottom: 24px;
    width: 216px;
    height: 20px;
}

.footer-motto {
    max-width: 265px;
    font-size: 16px;
    line-height: 1.25;
}

.footer-second-part {
    margin-bottom: 100px;
}

.footer-nav-list {
    margin-bottom: 64px;
    gap: 24px;
}

.footer-contacts-list {
    gap: 24px;
}

.footer-contacts-link {
    font-size: 16px;
    line-height: 1.25;
}

.footer-third-part {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-privacy {
    font-size: 16px;
    line-height: 1.25;
}

.footer-privacy:nth-last-child(2) {
    margin-bottom: 0;
}

}

@media screen and (min-width: 1158px) {
.container {
    padding: 52px 100px;
}

.footer-second-part {
    margin: 0 0 124px;
    display: flex;
    gap: 121px;
}

.footer-nav-list {
    margin-bottom: 0;
}

}

